/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("IMG-20231003-WA0001.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

#navbar #profile-link {
    margin-right: 20px;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
}

#projects {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9); /* Background color with opacity */
}

.project-tile {
    margin-bottom: 20px;
}

#contact {
    padding: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
}
